<ion-content>
  <div class="content">
    <div class="ion-text-center">
    <br><br><br><br>
      <ion-text>Página No Encontrada</ion-text>
    </div>
    <div class="container ion-text-center">
      <ion-img src="assets/e404.svg"></ion-img>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button routerLink="/home" expand="block" class="ion-margin-top">
            <ion-icon name="home" slot="start"></ion-icon>
            Volver al Inicio
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>

  
</ion-content>