ion-content{
    --background:rebeccapurple;
}
  

ion-button{
    --background: darkorange;
}
 
ion-text {
    color: darkorange;
    font-size: x-large;
    font-weight: bolder;
    align-self: center;
}
  