ion-toolbar {
    --background: rebeccapurple;
    color: white;
}

ion-back-button {
    color:white
}

ion-content{
    --background:darkorange;
  }


ion-text{
    align-self: center;
}

.container {    
  img{
      height: 50px;
  }
}

#btn {
    --background: rebeccapurple;
}

ion-loading.custom-loading {
    --background: rebeccapurple;
    --spinner-color: #ffffff;
  
    color: darkorange;
  }

form{
    border-radius: 10px;
    overflow: hidden;
}

.ion-item-option {
    width: 35px
}