ion-toolbar {
    --background: rebeccapurple;
    color: white;
}

ion-back-button {
    color:white
}

ion-content{
    --background:rgb(227, 227, 227);
  }


ion-text{
    align-self: center;
}


#btn3 {
    --background: rebeccapurple;
}

#btn6 {
    --background: rebeccapurple;
}

form{
    border-radius: 10px;
    overflow: hidden;
}